div.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
}

.info {
    text-align: center;
    font-size: 16px;
    font-weight: normal;
}

.sponsors {
    column-count: 2;
}
